{% extends 'base.html.twig' %}

{% block page_title %}
  {{ 'domain info' }}
{% endblock %}

{% block main_content %}
  <h1>domain info...</h1>
  <h2>basic info</h2>
  <p>the main tools used for this site are:</p>
  <ul>
    <li><a href="https://chrome.google.com" target="_blank">google chrome</a>, for actually viewing it</li>
    <li><a href="https://code.visualstudio.com" target="_blank">vscode insiders</a>, for making it</li>
    <li><a href="https://music.youtube.com" target="_blank">youtube music</a>, for listening to music while making it</li>
    <li><a href="https://github.com/microsoft/terminal" target="_blank">windows terminal</a>, to push code to the server and also to manage it</li>
  </ul>
{% endblock %}