{% extends 'base.html.twig' %}

{% block page_title %}
  {{ 'oopsie! you broke it' }}
{% endblock %}

{% block main_content %}
  <h1>oops :(</h1>
  <p>Something is broken.</p>
  <p>Why not go back to the <a href="{{ path('homepage') }}">homepage</a>?</p>
{% endblock %}