body {
  background-color: var(--theme-background-color); /*#FA96B2;*/
  color: #8F4F82;
  font-family: var(--base-font);
  font-size: var(--base-font-size);
  font-weight: var(--base-font-weight);
}

a {
  color: var(--theme-link-color); /*#99F2A8;*/
  font-size: var(--base-font-size);
  text-decoration: none;
}
a:hover:not(.no-hover) {
  color: var(--theme-link-hover-color);
  text-decoration: line-through;
}

.sidebar p, .sidebar a {
  font-size: 1rem;
}

ul.socialmedia {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.socialmedia a {
  font-size: 1.5rem;
  margin-right: 1rem;
}

ul.list--about-me {
  list-style-position: outside;
  list-style-type: none;
}
ul.list--about-me li {
  margin-bottom: 1rem;
}
ul.list--about-me li:last-child {
  margin-bottom: 0;
}
ul.list--about-me li.emoji {
  margin-right: .5rem;
}
ul.list--about-me li.emoji:before {
  position: absolute;
  left: 0;
}
ul.list--about-me li.emoji-wave:before {
  content: "👋";
}
ul.list--about-me li.emoji-eyes:before {
  content: "👀";
}
ul.list--about-me li.emoji-cat:before {
  content: "🐈";
}
ul.list--about-me li.emoji-gaming:before {
  content: "🎮";
}
ul.list--about-me li.emoji-education:before {
  content: "🎓";
}
ul.list--about-me li.emoji-chess:before {
  content: "♟️";
}
ul.list--about-me li.emoji-plant:before {
  content: "🌱";
}
ul.list--about-me li.emoji-two-hearts:before {
  content: "💞️";
}
ul.list--about-me li.emoji-plead:before {
  content: "🥺";
}
ul.list--about-me li.emoji-travel:before {
  content: "✈️";
}
ul.list--about-me li.emoji-facts:before {
  content: "📠";
}

ul.no-bullets {
  list-style-type: none;
}
ul.no-indent {
  padding-left: 0;
}
ul.list--nowplaying li,
ul.list--nowplaying li a {
  font-size: 1rem;
}

ul.list--about-me li:not(:last-child) {
  margin-bottom: .1rem;
}

ul.list--nowplaying li:not(:last-child) {
  margin-bottom: .5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-tangerine);
  font-weight: 700;
  margin: 0;
}

.signature {
  font-family: var(--font-family-zeyada);
  font-size: 4.5rem;
  margin: 50px 0 30px;
}

.fa-heart {
  color: #FA023C;
}

.flex-gap-10 {
  gap: 10px;
}
.flex-gap-md-10 {
  @media (min-width: 576px) {
    gap: 10px;
  }
}

@media (min-width: 770px) {
  .madewith--tools span:not(:last-child)::after {
    content: ",";
    margin-right: 10px;
  }
}
.madewith--tools span:last-child::after {
  content: ".";
}
