body {
  background-color: var(--theme-background-color); /*#FA96B2;*/
  color: #8F4F82;
  font-family: var(--base-font);
  font-size: var(--base-font-size);
  font-weight: var(--base-font-weight);
}

a {
  color: var(--theme-link-color); /*#99F2A8;*/
  font-size: var(--base-font-size);
  text-decoration: none;
}
a:hover:not(.no-hover) {
  color: var(--theme-link-hover-color);
  text-decoration: line-through;
}

.region--sidebar p, .region--sidebar a {
  font-size: 1rem;
}

ul.socialmedia {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.socialmedia a {
  font-size: 1.5rem;
  margin-right: 1rem;
}

ul.list--about-me {
  list-style-position: outside;
  list-style-type: none;
}
ul.list--about-me li {
  margin-bottom: 1rem;
}
ul.list--about-me li:last-child {
  margin-bottom: 0;
}
ul.list--about-me li.emoji {
  margin-right: .5rem;
}
ul.list--about-me li.emoji:before {
  position: absolute;
  left: 0;
}
ul.list--about-me li.emoji-wave:before {
  content: "👋";
}
ul.list--about-me li.emoji-eyes:before {
  content: "👀";
}
ul.list--about-me li.emoji-cat:before {
  content: "🐈";
}
ul.list--about-me li.emoji-gaming:before {
  content: "🎮";
}
ul.list--about-me li.emoji-education:before {
  content: "🎓";
}
ul.list--about-me li.emoji-chess:before {
  content: "♟️";
}
ul.list--about-me li.emoji-plant:before {
  content: "🌱";
}
ul.list--about-me li.emoji-two-hearts:before {
  content: "💞️";
}
ul.list--about-me li.emoji-plead:before {
  content: "🥺";
}
ul.list--about-me li.emoji-travel:before {
  content: "✈️";
}
ul.list--about-me li.emoji-facts:before {
  content: "📠";
}

ul.no-bullets {
  list-style-type: none;
}
ul.no-indent {
  padding-left: 0;
}
ul.list--nowplaying li,
ul.list--nowplaying li a {
  font-size: 1rem;
}

ul.list--about-me li:not(:last-child) {
  margin-bottom: .1rem;
}

ul.list--nowplaying li:not(:last-child) {
  margin-bottom: .5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-tangerine);
  font-weight: 700;
  margin: 0;
}

.signature {
  font-family: var(--font-family-zeyada);
  font-size: 4.5rem;
  margin: 50px 0 30px;
}

.fa-heart {
  color: #FA023C;
}

.flex-gap-10 {
  gap: 10px;
}
.flex-gap-md-10 {
  @media (min-width: 576px) {
    gap: 10px;
  }
}

@media (min-width: 770px) {
  .madewith--tools span:not(:last-child)::after {
    content: ",";
    margin-right: 10px;
  }
}
.madewith--tools span:last-child::after {
  content: ".";
}

.book--cover img {
  max-height: 200px;
}
.book--info--title, .book--info--started, .book--info--finished {
  font-size: .8rem;
}

.storygraph--icon {
  height: 40px;
  width: 25px;
}

.site--advocacy p,
.site--advocacy a {
  font-size: 1rem;
}
.site--advocacy p {
  margin: 0 auto;
}

.page--title {
  font-family: var(--font-family-kalnia-glaze), serif;
}

.main-content article section:first-child {
  margin-top: 30px;
}
.main-content article section:not(:last-child) {
  margin-bottom: 20px;
}

.main-content section header h1 {
  font-family: var(--font-family-kalnia-glaze), serif;
}

.main-content article:not([class*="frontpage"]) section a,
.main-content article:not([class*="frontpage"]) section li,
.main-content article:not([class*="frontpage"]) section p,
.main-content article:not([class*="frontpage"]) section blockquote  {
  font-size: 1rem;
}

blockquote {
  border: 1px dotted var(--palette-just-carry-it-on);
  padding: 15px 55px;
}
blockquote p {
  margin: 0;
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.section--title {
  font-family: var(--font-family-chelsea-market-open);
}